peercast-build-desktop-PATH*
build-PeerCast-Desktop*
.directory
*~
*.o
*.pro.user
*.ini
ui/linux/peercast
ui/osx/peercast
.DS_Store
/CMakeFiles/
/Makefile
/cmake_install.cmake
/CMakeCache.txt
bin/
lib/
_UpgradeReport_Files/
Backup/
*.sdf
*.opensdf
*.suo
ui/win32/simple/Debug
ui/win32/Simple_vp/Debug
ui/win32/simple/R
ui/win32/Simple_vp/Debug
core/win32/lib/
